/* 
Rango de pesos (wght)
Optical size (opsz): La propiedad opsz hace referencia al tamaño óptico, un ajuste que algunas fuentes variables permiten para mejorar la legibilidad según el tamaño en el que se está utilizando el texto. En este caso, se está utilizando un rango de valores entre 6 y 12.
display=swap: Este parámetro controla cómo se muestra la fuente en la página mientras se carga. El valor swap indica que se usará una fuente del sistema temporalmente mientras la fuente personalizada se carga, mejorando la experiencia del usuario al evitar tiempos en blanco.
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* El selector * es el selector universal, lo que significa que las reglas que contiene se aplicarán a todos los elementos del documento.*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Nunito Sans', sans-serif;
}
